<html>
  <head>
    <meta charset="utf-8" />
    <title>Display Webcam Stream</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div id="app">
      <header class="header">
        <a href="index.html"
          ><img src="img/logo.png" alt="img" class="imgContainer"
        /></a>
        <a
          href="cart.html
            "
          ><img src="img/cart.png" alt="img" class="imgContainer"
        /></a>
      </header>
      <div class="hero">
        <video autoplay="true" id="videoElement"></video>
        <img
          src="img/qr-scan.png"
          style="
            position: absolute;
            left: 50%;
            right: 50%;
            transform: translateX(-50%);
            width: 35%;
            top: 10%;
          "
          alt=""
        />
        <!-- <div class="imgC"> -->
        <!-- <img
                src="https://images.unsplash.com/photo-1579113800032-c38bd7635818?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80"
                alt=""
                srcset=""
              /> -->
      </div>
      <footer
        class="bottom"
        style="min-height: 60vh; transform: translateY(-10%)"
      >
        <button @click="addToCart()">
          <img src="img/select.png" alt="" />
        </button>
        <div class="options" v-if="data[0]">
          <div
            class="product"
            v-for="product in data"
            @click="selectProduct(product)"
            :class="{selected : selectedProducts.includes(product) }"
          >
            <div class="productContainer-img">
              <img :src="product.product_image" alt="product" />
            </div>

            <h4>{{product.product_name.substring(0,10)}}</h4>
            <p
              :class="{ok:product.carbono_per_unit<300,oknt:product.carbono_per_unit>199}"
            >
              {{product.carbono_per_unit}} ppm
            </p>
          </div>
        </div>
      </footer>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script>
      let url = "http://73387cfdc4dc.ngrok.io/api/products/";
      let app = new Vue({
        el: "#app",
        data() {
          return {
            test: "",
            data: [],
            selectedProducts: [],
            currentProduct: {},
          };
        },
        methods: {
          selectProduct(product) {
            console.log("PRODUCTO: ", product.asin_number);
            this.selectedProducts.push(product);
          },
          send() {
            console.log("aaa");
            axios.get(url + "B07TTCWXMY").then((res) => {
              console.log(res.data.product[0]);
              this.data = res.data.similarProducts;
              this.data.unshift(res.data.product[0]);
            });
          },
          addToCart() {
            console.log(this.selectedProducts);
            this.selectedProducts.forEach((prod) => {
              axios
                .post(url + "cart", prod)
                .then((res) => res.data)
                .then((data) => console.log(data));
            });
          },
        },
        created() {
          setTimeout(() => {
            this.send();
          }, 1000);
        },
      });
      const video = document.querySelector("#videoElement");
      let cosas = {
        video: {
          facingMode: {
            exact: "environment",
          },
        },
      };
      if (navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices
          .getUserMedia(cosas)
          .then(function (stream) {
            console.log(stream);
            video.srcObject = stream;
          })
          .catch(function (errr) {
            console.log("Something went wrong!", errr);
          });
      }
    </script>
  </body>
</html>
